:root {
  --body-1-medium-font-family: "Inter-Medium", Helvetica;
  --body-1-medium-font-weight: 500;
  --body-1-medium-font-size: 16px;
  --body-1-medium-letter-spacing: 0px;
  --body-1-medium-line-height: 24px;
  --body-1-medium-font-style: normal;
}
