.buttons {
  border-radius: 12px;
  height: 56px;
  overflow: hidden;
  width: 360px;
}

.buttons .frame-4 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  position: relative;
}

.buttons .facebook {
  color: var(--mainwhite);
  font-family: var(--body-1-medium-font-family);
  font-size: var(--body-1-medium-font-size);
  font-style: var(--body-1-medium-font-style);
  font-weight: var(--body-1-medium-font-weight);
  letter-spacing: var(--body-1-medium-letter-spacing);
  line-height: var(--body-1-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.buttons .facebook-2 {
  position: relative;
}

.buttons .oval {
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.buttons .icons-fb {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.buttons.fill {
  background-color: var(--mainblue);
}

.buttons.icon {
  background-color: var(--mainblue);
}

.buttons.outline-icon {
  border: 1px solid;
  border-color: var(--secondarydark-grey);
}

.buttons.fill .frame-4 {
  left: 142px;
  top: 16px;
}

.buttons.transparent .frame-4 {
  left: 142px;
  top: 16px;
}

.buttons.icon .frame-4 {
  left: 168px;
  top: 16px;
}

.buttons.outline-icon .frame-4 {
  left: 125px;
  top: 15px;
}

.buttons.fill .facebook-2 {
  color: var(--mainwhite);
  font-family: var(--body-1-medium-font-family);
  font-size: var(--body-1-medium-font-size);
  font-style: var(--body-1-medium-font-style);
  font-weight: var(--body-1-medium-font-weight);
  letter-spacing: var(--body-1-medium-letter-spacing);
  line-height: var(--body-1-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.buttons.transparent .facebook-2 {
  color: var(--mainblue);
  font-family: var(--body-1-medium-font-family);
  font-size: var(--body-1-medium-font-size);
  font-style: var(--body-1-medium-font-style);
  font-weight: var(--body-1-medium-font-weight);
  letter-spacing: var(--body-1-medium-letter-spacing);
  line-height: var(--body-1-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.buttons.icon .facebook-2 {
  height: 24px;
  width: 24px;
}

.buttons.outline-icon .facebook-2 {
  width: fit-content;
}
