.inputs {
  position: relative;
}

.inputs .class {
  left: 320px !important;
  position: absolute !important;
  top: 16px !important;
}

.inputs .class-2 {
  left: 319px !important;
  opacity: 0.4 !important;
  position: absolute !important;
  top: 15px !important;
}

.inputs .class-3 {
  left: 319px !important;
  position: absolute !important;
  top: 15px !important;
}

.inputs .class-4 {
  left: 320px !important;
  opacity: 0.4 !important;
  position: absolute !important;
  top: 16px !important;
}

.inputs .text {
  position: absolute;
  top: 15px;
}

.inputs .text-wrapper {
  font-family: var(--body-1-medium-font-family);
  font-size: var(--body-1-medium-font-size);
  font-style: var(--body-1-medium-font-style);
  font-weight: var(--body-1-medium-font-weight);
  letter-spacing: var(--body-1-medium-letter-spacing);
  line-height: var(--body-1-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.inputs .rectangle {
  background-color: var(--mainblue);
  border-radius: 20px;
  height: 23px;
  position: relative;
  width: 2px;
}

.inputs .input-2 {
  border: 1px solid;
  border-color: var(--mainred);
  border-radius: 12px;
  height: 56px;
  overflow: hidden;
  position: relative;
}

.inputs .frame-3 {
  align-items: center;
  display: inline-flex;
  gap: 4px;
  left: 15px;
  position: absolute;
  top: 15px;
}

.inputs .text-2 {
  font-family: var(--body-1-medium-font-family);
  font-size: var(--body-1-medium-font-size);
  font-style: var(--body-1-medium-font-style);
  font-weight: var(--body-1-medium-font-weight);
  letter-spacing: var(--body-1-medium-letter-spacing);
  line-height: var(--body-1-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.inputs .p {
  align-self: stretch;
  color: var(--mainred);
  font-family: var(--body-2-SB-font-family);
  font-size: var(--body-2-SB-font-size);
  font-style: var(--body-2-SB-font-style);
  font-weight: var(--body-2-SB-font-weight);
  letter-spacing: var(--body-2-SB-letter-spacing);
  line-height: var(--body-2-SB-line-height);
  position: relative;
}

.inputs.normal {
  border-radius: 12px;
  height: 56px;
  width: 360px;
}

.inputs.theme-0-dark {
  width: 360px;
}

.inputs.input {
  border: 1px solid;
  border-color: var(--mainblue);
  border-radius: 12px;
  height: 56px;
  width: 360px;
}

.inputs.error {
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.inputs.theme-0-light.normal {
  background-color: var(--secondarylight-grey);
}

.inputs.theme-0-light.error {
  display: inline-flex;
}

.inputs.theme-0-light.input {
  background-color: var(--mainwhite);
}

.inputs.theme-0-dark.error {
  display: flex;
}

.inputs.theme-0-dark.normal {
  background-color: var(--secondaryblack);
}

.inputs.theme-0-dark.input {
  background-color: var(--secondaryblack);
}

.inputs.normal .text {
  font-family: var(--body-1-medium-font-family);
  font-size: var(--body-1-medium-font-size);
  font-style: var(--body-1-medium-font-style);
  font-weight: var(--body-1-medium-font-weight);
  left: 16px;
  letter-spacing: var(--body-1-medium-letter-spacing);
  line-height: var(--body-1-medium-line-height);
  white-space: nowrap;
}

.inputs.input .text {
  align-items: center;
  display: inline-flex;
  gap: 4px;
  left: 15px;
}

.inputs.error .text {
  left: 16px;
}

.inputs.theme-0-light.normal .text {
  color: var(--maingrey);
}

.inputs.theme-0-dark.normal .text {
  color: var(--mainwhite);
  opacity: 0.4;
}

.inputs.theme-0-light .text-wrapper {
  color: var(--mainblack);
}

.inputs.theme-0-dark .text-wrapper {
  color: var(--mainwhite);
}

.inputs.theme-0-light .input-2 {
  background-color: var(--secondarylight-grey);
  width: 360px;
}

.inputs.theme-0-dark .input-2 {
  align-self: stretch;
  background-color: var(--secondaryblack);
  width: 100%;
}

.inputs.theme-0-light .text-2 {
  color: var(--mainblack);
}

.inputs.theme-0-dark .text-2 {
  color: var(--mainwhite);
}
