.form {
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.form .group {
  align-self: stretch;
  height: 84px;
  position: relative;
  width: 100%;
}

.form .text-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 360px;
}

.form .title {
  align-self: stretch;
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
}

.form .body {
  align-self: stretch;
  font-family: var(--body-1-SB-font-family);
  font-size: var(--body-1-SB-font-size);
  font-style: var(--body-1-SB-font-style);
  font-weight: var(--body-1-SB-font-weight);
  letter-spacing: var(--body-1-SB-letter-spacing);
  line-height: var(--body-1-SB-line-height);
  position: relative;
}

.form .icons-tick {
  height: 72px !important;
  position: relative !important;
  width: 72px !important;
}

.form .inputs-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.form .message-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.form .inputs-px {
  align-self: stretch;
  border-radius: 12px;
  height: 56px;
  position: relative;
  width: 100%;
}

.form .text-4 {
  font-family: var(--body-1-medium-font-family);
  font-size: var(--body-1-medium-font-size);
  font-style: var(--body-1-medium-font-style);
  font-weight: var(--body-1-medium-font-weight);
  left: 16px;
  letter-spacing: var(--body-1-medium-letter-spacing);
  line-height: var(--body-1-medium-line-height);
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.form .inputs-56px {
  align-self: stretch !important;
  width: 100% !important;
}

.form .title-2 {
  align-self: stretch;
  color: var(--mainwhite);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
}

.form .body-2 {
  align-self: stretch;
  color: var(--mainwhite);
  font-family: var(--body-1-SB-font-family);
  font-size: var(--body-1-SB-font-size);
  font-style: var(--body-1-SB-font-style);
  font-weight: var(--body-1-SB-font-weight);
  letter-spacing: var(--body-1-SB-letter-spacing);
  line-height: var(--body-1-SB-line-height);
  position: relative;
}

.form .icons-px-tick {
  height: 74px !important;
  position: relative !important;
  width: 72px !important;
}

.form .text-5 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 360px;
}

.form .title-3 {
  align-self: stretch;
  color: var(--mainblack);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
}

.form .body-3 {
  align-self: stretch;
  color: var(--mainblack);
  font-family: var(--body-1-SB-font-family);
  font-size: var(--body-1-SB-font-size);
  font-style: var(--body-1-SB-font-style);
  font-weight: var(--body-1-SB-font-weight);
  letter-spacing: var(--body-1-SB-letter-spacing);
  line-height: var(--body-1-SB-line-height);
  position: relative;
}

.form .buttons-px {
  left: 158px !important;
}

.form .buttons-56px {
  align-self: stretch !important;
  position: relative !important;
  width: 100% !important;
}

.form .text-6 {
  align-self: stretch;
  color: transparent;
  font-family: var(--body-2-medium-font-family);
  font-size: var(--body-2-medium-font-size);
  font-style: var(--body-2-medium-font-style);
  font-weight: var(--body-2-medium-font-weight);
  letter-spacing: var(--body-2-medium-letter-spacing);
  line-height: var(--body-2-medium-line-height);
  position: relative;
}

.form .span {
  font-family: var(--body-2-medium-font-family);
  font-size: var(--body-2-medium-font-size);
  font-style: var(--body-2-medium-font-style);
  font-weight: var(--body-2-medium-font-weight);
  letter-spacing: var(--body-2-medium-letter-spacing);
  line-height: var(--body-2-medium-line-height);
}

.form .text-wrapper-2 {
  color: #ffffff;
  font-family: var(--body-2-medium-font-family);
  font-size: var(--body-2-medium-font-size);
  font-style: var(--body-2-medium-font-style);
  font-weight: var(--body-2-medium-font-weight);
  letter-spacing: var(--body-2-medium-letter-spacing);
  line-height: var(--body-2-medium-line-height);
}

.form .text-wrapper-3 {
  color: #386fff;
  font-family: var(--body-2-medium-font-family);
  font-size: var(--body-2-medium-font-size);
  font-style: var(--body-2-medium-font-style);
  font-weight: var(--body-2-medium-font-weight);
  letter-spacing: var(--body-2-medium-letter-spacing);
  line-height: var(--body-2-medium-line-height);
}

.form .buttons-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.form .frame-5 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.form .divider {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.form .class-5 {
  background-color: var(--maingrey) !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  position: relative !important;
  width: unset !important;
}

.form .class-6 {
  flex: 1 !important;
  flex-grow: 1 !important;
  position: relative !important;
  width: unset !important;
}

.form .text-wrapper-4 {
  font-family: var(--caption-font-family);
  font-size: var(--caption-font-size);
  font-style: var(--caption-font-style);
  font-weight: var(--caption-font-weight);
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.form .social-buttons {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.form .buttons-instance {
  left: 31px !important;
}

.form .class-7 {
  border-color: var(--maingrey) !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  position: relative !important;
  width: unset !important;
}

.form .class-8 {
  color: var(--mainblack) !important;
}

.form .icons-google {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.form.type-result {
  display: flex;
  width: 360px;
}

.form.theme-5-light {
  display: flex;
  width: 360px;
}

.form.theme-5-dark.type-login {
  display: inline-flex;
}

.form.theme-5-light .title {
  color: var(--mainblack);
}

.form.theme-5-dark .title {
  color: var(--mainwhite);
}

.form.theme-5-light .body {
  color: var(--mainblack);
}

.form.theme-5-dark .body {
  color: var(--mainwhite);
}

.form.type-result .inputs-2 {
  gap: 12px;
}

.form.type-login .inputs-2 {
  gap: 8px;
}

.form.theme-5-light .inputs-px {
  background-color: var(--secondarylight-grey);
}

.form.theme-5-dark .inputs-px {
  background-color: var(--secondaryblack);
}

.form.theme-5-light .text-4 {
  color: var(--maingrey);
}

.form.theme-5-dark .text-4 {
  color: var(--mainwhite);
  opacity: 0.4;
}

.form.theme-5-light .span {
  color: #b5b2bc;
}

.form.theme-5-dark .span {
  color: #ffffff80;
}

.form.theme-5-light .frame-5 {
  align-self: stretch;
  width: 100%;
}

.form.theme-5-dark .frame-5 {
  width: 360px;
}

.form.theme-5-light .text-wrapper-4 {
  color: var(--maingrey);
}

.form.theme-5-dark .text-wrapper-4 {
  color: var(--transparent-30);
}
