.left-side {
  overflow: hidden;
  position: relative;
}

.left-side .overlap-group {
  position: absolute;
  width: 834px;
}

.left-side .ellipse {
  border: 2px solid;
  border-color: var(--mainwhite);
  border-radius: 77px;
  height: 154px;
  left: 340px;
  position: absolute;
  width: 154px;
}

.left-side .div {
  border: 2px solid;
  border-color: var(--mainwhite);
  border-radius: 145px;
  height: 290px;
  left: 272px;
  opacity: 0.4;
  position: absolute;
  width: 290px;
}

.left-side .ellipse-2 {
  border: 2px solid;
  border-color: var(--mainwhite);
  border-radius: 213px;
  height: 426px;
  left: 204px;
  opacity: 0.2;
  position: absolute;
  width: 426px;
}

.left-side .ellipse-3 {
  border: 2px solid;
  border-color: var(--mainwhite);
  border-radius: 281px;
  height: 562px;
  left: 136px;
  opacity: 0.1;
  position: absolute;
  width: 562px;
}

.left-side .ellipse-4 {
  border: 2px solid;
  border-color: var(--mainwhite);
  border-radius: 349px;
  height: 698px;
  left: 68px;
  opacity: 0.1;
  position: absolute;
  width: 698px;
}

.left-side .ellipse-5 {
  border: 2px solid;
  border-color: var(--mainwhite);
  border-radius: 417px;
  height: 834px;
  left: 0;
  opacity: 0.05;
  position: absolute;
  width: 834px;
}

.left-side .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 0;
}

.left-side .element {
  color: var(--mainwhite);
  font-family: var(--large-title-font-family);
  font-size: var(--large-title-font-size);
  font-style: var(--large-title-font-style);
  font-weight: var(--large-title-font-weight);
  letter-spacing: var(--large-title-letter-spacing);
  line-height: var(--large-title-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.left-side .of-clients-are {
  font-family: var(--body-1-regular-font-family);
  font-size: var(--body-1-regular-font-size);
  font-style: var(--body-1-regular-font-style);
  font-weight: var(--body-1-regular-font-weight);
  letter-spacing: var(--body-1-regular-letter-spacing);
  line-height: var(--body-1-regular-line-height);
  position: relative;
  width: 244px;
}

.left-side .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  position: absolute;
}

.left-side .elements-separator-instance {
  background-color: var(--mainwhite) !important;
  height: 2px !important;
  position: relative !important;
  width: 40px !important;
}

.left-side .instance-node {
  background-color: var(--transparent-30) !important;
  height: 2px !important;
  position: relative !important;
  width: 40px !important;
}

.left-side.mobile {
  height: 640px;
  width: 375px;
}

.left-side.light {
  background-color: var(--mainblue);
}

.left-side.desktop {
  height: 800px;
  width: 720px;
}

.left-side.dark {
  background-color: var(--secondaryblack);
}

.left-side.mobile .overlap-group {
  height: 939px;
  left: -42px;
  top: 106px;
}

.left-side.desktop .overlap-group {
  height: 963px;
  left: 71px;
  top: 274px;
}

.left-side.mobile .ellipse {
  top: 445px;
}

.left-side.desktop .ellipse {
  top: 469px;
}

.left-side.mobile .div {
  top: 377px;
}

.left-side.desktop .div {
  top: 401px;
}

.left-side.mobile .ellipse-2 {
  top: 309px;
}

.left-side.desktop .ellipse-2 {
  top: 333px;
}

.left-side.mobile .ellipse-3 {
  top: 241px;
}

.left-side.desktop .ellipse-3 {
  top: 265px;
}

.left-side.mobile .ellipse-4 {
  top: 173px;
}

.left-side.desktop .ellipse-4 {
  top: 197px;
}

.left-side.mobile .ellipse-5 {
  top: 105px;
}

.left-side.desktop .ellipse-5 {
  top: 129px;
}

.left-side.mobile .frame {
  left: 66px;
}

.left-side.desktop .frame {
  left: 1px;
}

.left-side.light .of-clients-are {
  color: var(--transparent-50);
}

.left-side.dark .of-clients-are {
  color: var(--maingrey);
}

.left-side.mobile .frame-2 {
  left: 24px;
  top: 40px;
}

.left-side.desktop .frame-2 {
  left: 72px;
  top: 48px;
}
