<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/globals.css" />
  <link rel="stylesheet" href="../static/styleguide.css" />
  <link rel="stylesheet" href="../static/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
    var jinjaLabels = '{{ labels| tojson }}';
    var jinjaValues = '{{ values| tojson }}';
    var jinjaLegend = '{{ legend }}';
  </script>
</head>

<body>
  <div class="dashboard">
    <div class="left-panel">
      <div class="left-data-panel">
        <div class="company-group">
          <div class="overlap-group">
            <div class="text-wrapper">fin.dec</div>
            <img class="rectangle" src="../static/img/rectangle-1464.png" />
            
          </div>
        </div>
        <div class="main-group">
          <canvas id="myChart" width="auto" height="auto"></canvas>
        </div>
        <div class="user-info-group">
          <p class="goals-info">
            <span class="span">Current goals: </span>
            <span class="text-wrapper-2">Current goals text<br /></span>
            <span class="span">Future goals: </span>
            <span class="text-wrapper-2">Future goals text<br /></span>
          </p>
          <div class="flexcontainer">
            <p class="text">
              <span class="span">Income (monthly): </span> <span class="text-wrapper-2">$10000 <br /></span>
            </p>
            <p class="text">
              <span class="span">Current spending per month: </span> <span class="text-wrapper-2">$10000 <br /></span>
            </p>
            <p class="text">
              <span class="span">Age of retirement: </span> <span class="text-wrapper-2">46<br /></span>
            </p>
            <p class="text">
              <span class="span">Current Age: </span> <span class="text-wrapper-2">18<br /></span>
            </p>
            <p class="text">
              <span class="span">Location: </span> <span class="text-wrapper-2">Austin, TX<br /></span>
            </p>
            <p class="text">
              <span class="span">401K Matching: </span> <span class="text-wrapper-2">Yes (30%)</span>
            </p>
          </div>
          <img class="seperator" src="../static/img/seperator.svg" />
        </div>
      </div>
      <img class="frame" src="../static/img/frame-4592.svg" />
    </div>
    <div class="large-right-panel-wrapper">
      <div class="large-right-panel">
        <div class="frame-wrapper">
          <div class="div">
            <div class="question-icon">
              <div class="group">
                <div class="overlap">
                  <div class="help-circle">
                    <div class="overlap-group-2">
                      <img class="vector" src="../static/img/vector-1.svg" />
                      <img class="img" src="../static/img/vector.svg" />
                      <img class="group-2" src="../static/img/group-48097132.png" />
                    </div>
                    <img class="subtract" src="../static/img/subtract.png" />
                  </div>
                  <div class="rectangle-2"></div>
                </div>
              </div>
            </div>
            <div class="profile">
              <img class="profile-pic" src="../static/img/profile-pic.svg" />
              <div class="text-info">
                <p class="hello-msg">
                  <span class="text-wrapper-3">Hello</span> <span class="text-wrapper-4"> 👋</span>
                </p>
                <div class="name">Jenifer Feroz</div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-panel">
          <div class="group-3"></div>
          <div class="group-3"></div>
          <div class="button-frame">
            <div class="overlap-group-wrapper">
              <a href="../survey/fin_dec_survey.html">
                <div class="div-wrapper">
                  <div class="text-wrapper-5">Recalculate</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../static/logic.js"></script>
</html>