:root {
  --body-1-medium-font-family: "Inter-Medium", Helvetica;
  --body-1-medium-font-size: 16px;
  --body-1-medium-font-style: normal;
  --body-1-medium-font-weight: 500;
  --body-1-medium-letter-spacing: 0px;
  --body-1-medium-line-height: 24px;
  --body-1-regular-font-family: "Inter-Regular", Helvetica;
  --body-1-regular-font-size: 16px;
  --body-1-regular-font-style: normal;
  --body-1-regular-font-weight: 400;
  --body-1-regular-letter-spacing: 0px;
  --body-1-regular-line-height: 24px;
  --body-1-SB-font-family: "Inter-SemiBold", Helvetica;
  --body-1-SB-font-size: 16px;
  --body-1-SB-font-style: normal;
  --body-1-SB-font-weight: 600;
  --body-1-SB-letter-spacing: 0px;
  --body-1-SB-line-height: 24px;
  --body-2-medium-font-family: "Inter-Medium", Helvetica;
  --body-2-medium-font-size: 14px;
  --body-2-medium-font-style: normal;
  --body-2-medium-font-weight: 500;
  --body-2-medium-letter-spacing: 0px;
  --body-2-medium-line-height: 20px;
  --body-2-SB-font-family: "Inter-SemiBold", Helvetica;
  --body-2-SB-font-size: 14px;
  --body-2-SB-font-style: normal;
  --body-2-SB-font-weight: 600;
  --body-2-SB-letter-spacing: 0px;
  --body-2-SB-line-height: 20px;
  --caption-font-family: "Inter-Medium", Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 500;
  --caption-letter-spacing: 0px;
  --caption-line-height: 16px;
  --h1-font-family: "Inter-Bold", Helvetica;
  --h1-font-size: 40px;
  --h1-font-style: normal;
  --h1-font-weight: 700;
  --h1-letter-spacing: 0px;
  --h1-line-height: 48px;
  --large-title-font-family: "Inter-Bold", Helvetica;
  --large-title-font-size: 72px;
  --large-title-font-style: normal;
  --large-title-font-weight: 700;
  --large-title-letter-spacing: 0px;
  --large-title-line-height: 72px;
  --mainblack: rgba(25, 23, 29, 1);
  --mainblue: rgba(56, 112, 255, 1);
  --maingrey: rgba(182, 179, 188, 1);
  --mainred: rgba(255, 68, 90, 1);
  --mainwhite: rgba(255, 255, 255, 1);
  --secondaryblack: rgba(19, 17, 23, 1);
  --secondarydark-grey: rgba(39, 37, 43, 1);
  --secondarylight-grey: rgba(244, 242, 249, 1);
  --transparent-30: rgba(255, 255, 255, 0.3);
  --transparent-50: rgba(255, 255, 255, 0.5);
}
