.login {
  background-color: #19171d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .div-2 {
  background-color: var(--mainblack);
  height: 800px;
  position: relative;
  width: 1353px;
}

.login .left-side-instance {
  left: 633px !important;
  position: absolute !important;
  top: 0 !important;
}

.login .form-instance {
  left: 137px !important;
  position: absolute !important;
  top: 149px !important;
}

.login .design-component-instance-node {
  flex: unset !important;
  height: 120px !important;
}

.login .form-2 {
  left: 86px !important;
}

.login .form-3 {
  align-self: stretch !important;
  border-radius: unset !important;
  overflow: unset !important;
  position: relative !important;
  width: 100% !important;
}

.login .icons-px-google {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.login .form-4 {
  left: 136px !important;
}
